:root {
    --mainColor: #053024;
    --subColor: #fdc97d;
    --bg-color: #f1e8d7;
    --textColor: #333333;
    --hover: #d0a73c;
    --price: #d31100;
}

body {
    background-color: var(--bg-color);
    color: var(--textColor);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.p_style{
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

.map iframe {
    width: 100%;
    height: 400px;
    border: none;
}
